/* root styles */
:root {
  
  /*primary colors*/
  --pink: #ba4270;
  --white: #fbfcfe;

  /*secondary colors*/
  --blue: #36536b;
  --dark-blue: #1b262f;
  --light-pink: #da6d97;
  --light-blue: #6c8294;
}

body {
  font-family: 'Public Sans', sans-serif;
  background-color: #EDF3F8;
  margin: 0 clamp(1rem, 10.375rem, 10vw);
}

/* header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', sans-serif;
}

p{
  color:var(--light-blue);
}

/* navigation styles */

.nav-container{
  display:flex;
  align-items: center;
  margin: 2.5rem 0;
}

.nav-element{
  color:var(--light-blue);
  text-decoration: none;
  margin-right: 2.5rem;
  transition: all 250ms;
}

.nav-logo{
  margin-right: 2.5rem;
}

.nav-element:hover,
.nav-element:focus
.nav-element:active{
  color: var(--dark-blue);
}

.nav-button {
  margin-left: auto;
}

.desktop-nav {
  display:flex;
  align-items: center;
  width: 100%;
}

.mobile-nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.hamburger-btn  {
  margin-left: auto;
  cursor: pointer;
}

.close-btn{
  margin-left: auto;
  margin-right: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.mobile-menu{
  position: fixed;
  height: 100vh;
  width:80%;
  top:0;
  right:-80%;
  overflow-x: hidden;
  transition: all 350ms ease-in-out;
  transform-origin: 100%;
  background-color: var(--dark-blue);
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 48rem) {
  .desktop-nav {
    display:none;
  }
  .nav-element{
    margin-right: 0;
    margin-top: 2.5rem;
    color:var(--white);
  }
  .nav-element:hover,
  .nav-element:focus
  .nav-element:active{
    color: var(--light-blue);
  } 
  .btn-nav-mobile {
    margin-top: 2.5rem;
  }
}

@media (min-width: 48rem) {
  .mobile-nav {
    display:none;
  }
}

/* button styles */

.btn-primary{
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--pink);
  color:var(--white);
  border: none;
  cursor: pointer;
  transition: all 250ms;
}

.btn-primary:hover,
.btn-primary:focus{
  background-color: var(--light-pink);
}

button:disabled{
  background-color: var(#DDA1B8);
}

/* divider styles */

.divider{
  border-bottom: 1px solid #404B56;
  border-radius: 2px;
  width: calc(100% - 3rem);
}